.box {
  background-color: #ac3c3c;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  /* height: 200px; */
  max-height: 35vh;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}

.box {
  margin: 20px;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  flex-basis: calc(50% - 40px);
}

.boxy {
  width: 300px;
  background: green;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}
.boxy:hover {
  animation: boxyRotation 4s infinite linear;
}

@keyframes boxyRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.black-background {
  background-color: red !important;
  font-size: 5vh;
  border-radius: 10px 10px 10px 10px;
}

body {
  background: #eee;
}

.App {
  text-align: center;
}

button {
  cursor: pointer;
}

.dot {
  height: 12px;
  width: 12px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  margin-right: 10px;
  background: black;
  opacity: 0.2;
}

.dot.active {
  opacity: 1;
}

.slides {
  margin-top: 50px;
  display: inline-block;
  height: 437px;
  width: 90%;
}

.slide {
  position: absolute;
  z-index: -1;
  display: inline-block;
  width: 50%;
  height: 300px;
  font-size: 24px;
  left: 39%;
  transform: scale(0.7);
  transition: all 450ms ease;
  border-radius: 2px;
  outline: none;
  border: none;
  visibility: hidden;
}

.slides .left {
  color: green;
  left: 0%;
  transform: scale(0.8);
  z-index: 2;
  visibility: visible;
}

.slides .center {
  color: red;
  z-index: 10;
  left: 50%;
  transform: scale(1) translateX(-50%);
  visibility: visible;
}

.slides .right {
  color: blue;
  left: 100%;
  transform: scale(0.8) translateX(-125%);
  z-index: 1;
  visibility: visible;
}
